.btn-outline-primary{
    border-color: #ff01c4;
    color: #ff01c4;
}
.btn{
    font-weight: normal !important;
    text-transform: lowercase !important;
    padding-left: 2em;
    padding-right: 2em;
}
.btn-outline-primary:hover{
    background-color: #ff01c4;
    color: white!important;
    border-color: white;
}
#gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

#gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.head {
    color: #ff01c4;
    font-family: "Raleway", sans-serif;
    font-size: 2.5rem;
}

.rob {
    color: #ff01c4;
    font-family: "Raleway", sans-serif;
}

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

.pik:hover {
    border: 2px solid rgb(252, 197, 197);
    color: rgb(252, 197, 197);
    border-radius: 50rem;
    transform: scale(1.2);
}

.zindoga {
    min-height: 60vh;
    background: url("../../../../assets/img/personal.jpg");
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    z-index: -999;
}
