<app-header title="Gallery" ></app-header>
<section class="pt-3 pb-3  " id="gallery">
    <div class="container">
        <!-- Grid row -->
        <div class="row  mt-3 " >

            <!-- Grid column -->
            <div class="col-12 d-flex">

                <div class="mx-auto border-top border-bottom ">

                    <button type="button" class="btn btn-outline-black waves-effect filter pik" data-rel="all">All</button>
                    <button type="button" class="btn btn-outline-black waves-effect filter pik" data-rel="1">Birthdays</button>
                    <button type="button" class="btn btn-outline-black waves-effect filter pik" data-rel="2">Parties</button>
                    <button type="button" class="btn btn-outline-black waves-effect filter pik" data-rel="2">Jumping
                        Castles</button>
                        <button type="button" class="btn btn-outline-black waves-effect filter pik" data-rel="2">Photo
                            Shoots</button>
                        </div>
                    </div>



            <div class="card-columns pt-3 " id="galler">

                <div class="card pics animation all">
                    <img class="img-fluid" src="../../../../assets/img/birthday.jpg" alt="Card image cap">
                </div>

                <div class="card pics animation all">
                    <img class="img-fluid" src="../../../../assets/img/5.jpg" alt="Card image cap">
                </div>

                <div class="card pics animation all">
                    <img class="img-fluid" src="../../../../assets/img/4.jpg" alt="Card image cap">
                </div>

                <div class="card pics animation all">
                    <img class="img-fluid" src="../../../../assets/img/3.jpg" alt="Card image cap">
                </div>

                <div class="card pics animation all">
                    <img class="img-fluid" src="../../../../assets/img/2.jpg" alt="Card image cap">
                </div>

                <div class="card pics animation all">
                    <img class="img-fluid" src="../../../../assets/img/10.jpg" alt="Card image cap">
                </div>

                <div class="card pics animation all">
                    <img class="img-fluid" src="../../../../assets/img/6.jpg" alt="Card image cap">
                </div>

            </div>
        </div>
    </div>
</section>