<div class="bg-defa" style="background-color: rgb(71, 70, 67);">
    <footer class="page-footer font-small pt-4">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4 normal text-center">
                        Pixie Parties
                    </h5>
                    <p class=" text-white">
                        We know how important each birthday party is to both you
                        and your child and how you as parent just want to see
                        your little one have as much fun as possible!!! That's
                        why we offer all-in-one party and event solutions to our
                        clients.
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none" />

                <!-- Grid column -->
                <div class="col-md-3 mx-auto">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4 normal text-center">
                        Our Services
                    </h5>

                    <ul class="list-unstyled text-center">
                        <li>
                            <a href="#!" class="text-white">Party planning</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Party décor</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Party catering</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Equipment hire/rentals</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none" />
                <!-- Grid column -->
                <div class="col-md-2 mx-auto">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4 normal text-center">
                        Quick Links
                    </h5>
                    <ul class="list-unstyled text-center">
                        <li>
                            <a href="#!" class="text-white">Home Page</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">About Page</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Gallery Page</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Packages Page</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <div class="col-md-3 mx-auto">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4 normal text-center">
                        Contact
                    </h5>
                    <ul class="list-unstyled text-center">
                        <li class="text-white">
                             Sam Levy Village, CA 94126, Zim
                        </li>
                        <li class="text-white">
                             pixieparties@pixie.co.zw
                        </li>
                        <li class="text-white">
                            + 263 886 567 89
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none" />
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->

        <hr />
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1">
                    <i class="fab fa-facebook-f text-primary"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1">
                    <i class="fab fa-twitter text-primary"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-gplus mx-1">
                    <i class="fab fa-google-plus-g text-primary"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1">
                    <i class="fab fa-linkedin-in text-primary"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-dribbble mx-1">
                    <i class="fab fa-dribbble text-primary"> </i>
                </a>
            </li>
        </ul>
        <!-- Social buttons -->

        <div class="text-center small">
            <p class="text-white text-center">
                Designed and Developed by GMITech
                Copyright © 2020 | All rights reserved
            </p>
        </div>
    </footer>
    <!-- Footer -->
</div>
