@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,500|Raleway&display=swap');
.navbar-brand{
  font-family: 'Dancing Script', cursive;
  font-size: 2.4rem;
  text-decoration: none;
  color: white;
}

.nav-link {
  font-family: 'Raleway', sans-serif;
  color: white;
}

.nav-link:hover{
  border: 2px solid white;
  border-radius: 50rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-bg{
  background: rgba(255, 217, 0, 0.568);
}

.navbar-toggler, .navbar-toggler-icon  {
  border-color: white;
  color: white;
}
