.navbar-brand{
  font-family: 'Dancing Script', cursive;
  font-size: 2.4rem;
  text-decoration: none;
}

.nav-link {
  font-family: 'Raleway', sans-serif;
  color: #F2B037;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: transform .5s;
}
.dropdown-toggle{
    cursor: pointer;
}

.nav-item ul.dropdown-menu li.dropdown-item{
    cursor: pointer;
}
.nav-item ul.dropdown-menu li.dropdown-item:hover{
    background: #FF02C4;
    color: white;
}
.nav-link:hover{
  border: 2px solid #FF02C4;
  color: #FF02C4;
  border-radius: 50rem;
  transform: scale(1.2);
}
.cart-btn:hover{
  border: none;
  color: #FF02C4;
  /* border-radius:  */
  transform: scale(1.5);
}

.nav-bg{
  background: white
  
}
.navbar-toggler, .navbar-toggler-icon  {
  border-color: white;
  color: white;
}

.img-logo{
    max-height: 6rem;
    overflow: visible;
    padding-left: 1.2rem;
}

.navbar-brand{
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    padding-right: 2rem;
    border-bottom-right-radius: 30%;
}
