<nav class="navbar navbar-expand-md fixed-top nav-bg px-4 shadow shadow-3">
  <a class="navbar-brand " href="#"> <img src="../../../assets/img/PIXIE PARTIES LOGO.png" class="img-logo"> </a>
  <button class="navbar-toggler d-lg-none " type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>
  <div class="collapse navbar-collapse " id="collapsibleNavId">
    <ul class="navbar-nav m-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <ng-template #anonymousUser>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
      </ng-template>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink = "/shopping-cart" >Shopping Cart</a>
      </li> -->
      <li *ngIf="appUser as user; else anonymousUser" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           {{appUser.name}} </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownId">

          <li class="dropdown-item" routerLink='my-orders' >My Orders</li>
          <ng-container *ngIf="appUser.isAdmin">
              <li class="dropdown-item" routerLink='admin-orders' >Manage Orders</li>
              <li class="dropdown-item" routerLink='admin-products' >Manage Products</li>
        </ng-container>
          <li class="dropdown-item" (click)="logout()" >Log Out</li>
        </ul>
      </li>
    </ul>
    <button class="btn btn-outline-light rounded rounded-pill">Enquire Now</button>
    <a class="nav-link cart-btn" routerLink = "/shopping-cart" ><i class="fas fa-cart-plus fa-md fa-fw"></i></a>

</div>
</nav>
