
#gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

#gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.head {
    color: #ff01c4;
    font-family: "Raleway", sans-serif;
    font-size: 2.5rem;
}

.rob {
    color: #ff01c4;
    font-family: "Raleway", sans-serif;
    font-size: normal;
}

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

.pik:hover {
    border: 2px solid rgb(252, 197, 197);
    color: rgb(252, 197, 197);
    border-radius: 50rem;
    transform: scale(1.2);
}

.zindoga {
    min-height: 60vh;
    background: url("/assets/img/personal.jpg");
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    z-index: -999;
}
.counters-item {
    padding-bottom: 30px;
    color: #444;
    position: relative;
  }
  
  .counters-item.kill-border:before {
    background: none;
  }
  
  .counters-item:before {
    background: #e5e5e5;
    content: "";
    margin-top: -27.5px;
    height: 55px;
    width: 1px;
    position: absolute;
    right: -15px;
    top: 50%;
  }
  
  .counters-item > div {
    margin: 6px 0;
  }
  
  .counters-item span {
    display: inline;
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
  }
  
  .counters-item i {
    font-size: 40px;
    display: inline-block;
    color: rgb(227, 168, 40);
  }
  
  .counters-item h3 {
    font-size: 18px;
    margin: 0;
    color: #666;
  }
  .btn-main {
    background: #28ABE3;
    border: 1px solid #28ABE3;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 12px 40px;
    text-transform: uppercase;
    border-radius: 40px;
  }
  
  .btn-main:hover {
    color: #fff;
  }
  .call-to-action {
    padding: 100px 0;
    background: url("/assets/img/personal.jpg");
    background-size: cover;
    color: #fff;
  }
  
  .call-to-action h2 {
    line-height: 1.5;
  }
  
  .call-to-action .btn-main {
    margin-top: 20px;
  }
  .caption{
      color:white;
      /* background-color:rgb(250, 233, 159); */
      background-color: rgba(68, 67, 67, 0.342);
  }
  