<app-header title="About Us" ></app-header>
<div class="container">
    <p class="text-center text-monospace normal bg-white">
        
    </p>

<div class="card card-image mb-4" >

    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
      <div>
        <h5 class="head"><i class="fas fa-chart-pie"></i> About Pixie Parties</h5>
        <p class="text-dark font-weight-bold normal">It is a full-service professional event planning company
            that specializes in themed events. We handle all details involved in
            the event, party or function so that you can focus on what’s
            important to you. Our Main Specialty is providing you with the a-z
            of kids’ bespoke parties.
        </p>
        <p class="text-dark font-weight-bold normal">
            We are a Zimbabwean based party entertainment provider that specialises in providing quality entertainment for 
            children’s themed parties. We love to see the smile on your face, and especially, those on the faces of the children – but that isn’t enough for us. We want to see them thoroughly enjoying themselves – laughing, shouting, clapping and cheering. We commit ourselves to leaving a lasting and memorable impression on young minds. Being a parent is getting much tougher each year, with ever increasing expectations for bigger and better parties. Where the children are meant to enjoy themselves, often, organising a party is an especially stressful time for parents. We understand these concerns, and we aim to make your day as stress-free as possible,
             and for you to be able to relax and enjoy the entertainment as well.
        </p>
        <a class="btn btn-pink"><i class="fas fa-clone left"></i> View project</a>
      </div>
    </div>

  </div>