<section>
    <div class="container pt-4 mt-4">
        <div class="row pt-4 mt-4">
            <div class="col-sm-12 col-md-6 mx-auto pt-4 mt-4">

                <form #f="ngForm" (ngSubmit)="save(f.value)">
                    <div class="form-group" >
                        <label for="title">Title                        </label>
                        <input type="text"  #title="ngModel" ngModel name="title" id="title" class="form-control rounded-pill" required>
                        <div class="alert alert-danger py-0 my-0 bg-transparent border-0 small" *ngIf="title.touched && title.invalid">Title is required.</div>
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <div class="input-group mb-3 border rounded-pill">
                            <div class="input-group-prepend rounded-pill">
                              <span class="input-group-text border-0 bg-transparent">$</span>
                            </div>
                            <input id="price" #price="ngModel"  ngModel name="price" type="number" class="form-control border-0" aria-label="Amount (to the nearest dollar)" required>
                            <div class="input-group-append rounded-pill">
                              <span class="input-group-text border-0 bg-transparent">.00</span>
                            </div>
                          </div>
                          <div class="alert alert-danger py-0 my-0 bg-transparent border-0 small" *ngIf="price.touched && price.invalid">Price is required.</div>

                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select #category="ngModel" id="category" name="category" ngModel class="form-control rounded-pill" required>
                            <option value=""></option>
                            <option *ngFor="let c of categories$ | async" [value]="c.key">{{c.name.name}} </option>
                        </select>
                        <div class="alert alert-danger py-0 my-0 bg-transparent border-0 small" *ngIf="category.touched && category.invalid">Category is required.</div>

                    </div>
                    <div class="form-group">
                        <label for="imageUrl">Image Url</label>
                        <input #imageUrl="ngModel" type="text" name="imageUrl" ngModel id="imageUrl"  class="form-control rounded-pill" required>
                        <div class="alert alert-danger py-0 my-0 bg-transparent border-0 small" *ngIf="imageUrl.touched && imageUrl.invalid">Image Url is required.</div>

                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-primary rounded-pill mx-auto">Save</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 col-md-6 mx-auto pt-4 mt-4">
                <div class="card">
                    <img class="card-img-top" [src]="imageUrl.value" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{title.value}}</h4>
                        <p class="card-text">{{price.value | currency:'USD':true}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
