<app-header [title]="'Login'"  ></app-header>

<section class="vh-25 d-flex justify-content-center align-items-center">
    <div class="col-sm-12 col-md-6 login-card">
        <div class="card login-card shadow">
            <div class="card-body d-flex flex-column justify-content-center">
                <img src="assets/img/PIXIE PARTIES LOGO.png" style="max-height: 5rem;" alt="" srcset="">
                <div class="loader04"> </div>
                <button
                (click)="login()"
                class="btn btn-primary mt-4">Login with  <i class="fab fa-google    "></i>oogle </button>
            </div>

        </div>
    </div>
</section>
