
.main-content{
  min-height: 85vh;
  background: url("../../../assets/img/bg.jpg") no-repeat center;
  background-size: cover;
  opacity: .4;
}

.main-container{
  background: black;
}

.intro-branding{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 100%;
}

.intro-branding h4{
    font-family: 'Raleway', sans-serif;
}
.btn-main {
  background: #28ABE3;
  border: 1px solid #28ABE3;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 12px 40px;
  text-transform: uppercase;
  border-radius: 40px;
}

.btn-main:hover {
  color: #fff;
}